.right.menu {
    color: black;
}

.Top.Menubar {
    background-color: #f5f5f7;
    margin-left: 40px;
    margin-right: 40px;
}

.facebook.f.icon {
    margin-left: -500px;
}

.ui.centered.medium.image {
    width: 200px;
}
